.main {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    box-sizing: border-box;
    flex-direction: column;

    .content {
        display: flex;

        .products_layout {
            display: flex;
            flex-wrap: wrap;
            padding: 20px;
            box-sizing: border-box;
            width: calc(100% - 300px);
            flex-direction: column;
        }
    }
}