body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    box-sizing: border-box;

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }
    
    .main {
        display: grid;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        grid-template-areas: 
            "header header header header"
            "filter main main main"
            "filter main main main"
            "filter main main main"
            "filter main main main"
            "footer footer footer footer";
        font-family: Arial, sans-serif;
        background-color: #f9f9f9;
        box-sizing: border-box;
        flex-direction: column;
        gap: 20px;

        .Header {
            grid-area: header;
        }

        .Filter {
            grid-area: filter;
        }


        .products_layout {
            grid-area: main;
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
            flex-direction: column;
        }

        .Footer {
            grid-area: footer;
        }
    }
}