.Filter {
    width: 200px;
    margin-right: 20px;
    padding: 20px;
    background-color: #eee;
    height: calc(100vh - 60px);
    overflow-y: auto;
    box-sizing: border-box;

    h3 {
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    .filter-section {
        margin-bottom: 20px;
    }
}