.Filter {
    position: sticky;
    top: 97px;
    padding: 15px 30px;
    background: #F2F2F2;
    border-radius: 10px;
    width: 200px;
    height: 410px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    margin-left: 20px;

    h3 {
        color: #333;
        font-size: 1.3em;
        margin-bottom: 30px;
    }

    .filter-section {
        margin-bottom: 20px;

        label {
            font-weight: 600;
            color: #333;
        }

        div {
            display: flex;
            align-items: center;
            margin: 10px 0;

            input[type="checkbox"] {
                margin-right: 10px;
            }

            label {
                font-size: 0.9em;
                color: #666;
            }
        }
    }

    .expandButton {
        width: 100%;
        padding: 10px;
        font-size: 1em;
        background-color: #333;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 10px;
        display: none;
    }

    /* Adjust styles for smaller screens */
    @media (max-width: 900px) {
        position: relative;
        width: auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        margin-right: 20px;
        gap: 25px;
        top: 0;
        
        h3 {
            display: none;
        }

        .filter-section {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
            align-items: flex-start;
            justify-content: space-between;
            margin: 0;
            gap: 10px;

            label {
                font-size: 0.8em;
                color: #666;
            }

            div {

                font-size: 0.8em;
                margin: 0;
            }
        }

        .expandButton {
            display: block;
        }

        .hide {
            display: none;
        }
    }
}
