.ProductGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-bottom: 20px;
    
    @media (width <= 1600px) {
        grid-template-columns: repeat(3, 1fr); /* Two columns on small screens */
    }

    @media (width <= 1200px) {
        grid-template-columns: repeat(2, 1fr); /* Two columns on small screens */
    }

    @media (width <= 600px) {
        grid-template-columns: 1fr; /* One column on small screens */
    }
}

