.ProductDescription {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background: #F2F2F2;
    border-radius: 10px;
    gap: 75px;
    margin-left: 15px;

    .category-name {
        font-weight: 600;
        color: #333;
        width: 100px;
    }

    .category-description{
        font-size: 0.9em;
        color: #666;
    }

    @media (max-width: 1024px) {
        flex-direction: column;
        gap: 10px;
    }
}
